html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	min-width: 100%;
	font-family: sans-serif;
	background-color: rgb(44, 128, 185);

}

.card {
	margin: 6.25rem auto 0;
	height: 10rem;
	width: 28rem;
	background-color: white;
	border-radius: .25rem;
	border: solid 1px rgb(222, 222, 222);
	box-sizing: border-box;
}