body, html {
	padding: 0;
	margin: 0;
 	min-width: 100%;
 	min-height: 100%;
 	font-family: sans-serif;
 	background-color: rgb(88, 177, 159);
}

.container {
	min-height: 9rem;
	width: 27.5rem;
	background-color: white;
	border-radius: .25rem;
	border: solid 1px rgb(222, 222, 222);
	margin: 6.25rem auto 0;
	box-shadow: 0 1px .25rem 0 rgba(10, 10, 10, 0.2);

	&__content {
		padding: 1.25rem 1.25rem 1.75rem 1.25rem;
	}
}

.form {
	height: 6.5rem;
	width: 100%;
}


.input {
	outline: none;
	border: none;
	height: 2.5rem;
	font-size: .85rem;

	&__text {
		border-bottom: solid .15rem rgb(222, 222, 222);
		width: 19.75rem;
		margin-right: .25rem;

		&:focus {
			border-color: black;
		}
	}

	&__reset {
		width: 100%;
		margin-top: 1.25rem;
	}
}

.button {
	background-color: rgba(248, 131, 121, .3);
	border-radius: .15rem;
	padding: .5rem;
	cursor: pointer;
	transition: transform .1s;

		&:hover {
			background-color: rgba(248, 131, 121, .5);
		}

		&:active {
			transform: translateY(.1rem);
		}
}

.list {
	font-size: 1rem;
	overflow: hidden;
	
	&__item {
		margin-top: 2.25rem;
		cursor: pointer;
		position: relative;
		float: left;
		clear: both;

		&-dash {
			position: absolute;
			width: 0;
			height: 2px;
			background-color: black;
			top: 45%;
			transition: all .3s;
		}

		&-active {
			
		}
	}
}