body, html {
	padding: 0;
	margin: 0;
 	min-width: 100%;
 	min-height: 100%;
 	font-family: sans-serif;
 	background-color: rgb(250, 164, 127);
}

.card {
	height: 7.25rem;
	width: 30rem;
	background-color: white;
	border-radius: .25rem;
	margin: 6.25rem auto 0;

	&__content {
		padding: 2.5rem 2.25rem;
	}
}

.percentage-display {
	font-size: .85rem;
	font-weight: bold;
}

.bar {
	width: 25rem;
	height: .25rem;
	background-color: rgb(235, 235, 235);
	margin: 1rem 0;
	border-radius: .25rem;
	cursor: pointer;

	&__progress {
		width: 5rem;
		height: 100%;
		background-color: rgb(127, 141, 140);
		position: relative;
		transition: all .2s;

		&:before {
			content: "";
			height: 1rem;
			width: 1rem;
			background-color: white;
			border-radius: 50%;
			border: solid .15rem rgb(195, 195, 195);
			position: absolute;
			top: -.5rem;
			left: -.75rem;
			cursor: pointer;
		}

		&:hover:before {
			border-color: black;
		}
	}
}