body, html {
	margin: 0;
	padding: 0;
 	min-width: 100%;
 	min-height: 100%;
 	font-family: sans-serif;
 	background-color: rgb(209, 216, 224);
} 

.img {
	width: 500px;
	height: 380px;
	border-radius: 4px;
	box-shadow: 0 1px 2px 1px rgba(50, 50, 50, .25);
	position: relative;
	cursor: zoom-in;

	&__container {
		height: 380px;
		width: 500px;
		margin: 100px auto 0;
		position: relative;
		border-radius: 4px;
	}

	&__zoom {
		height: 200px;
		width: 200px;
		border-radius: 100px;
		position: absolute;
		top: 0;
		left: 515px;
		box-sizing: border-box;
		border: 2px solid white;
		box-shadow: 0 1px 6px 2px rgba(50, 50, 50, .25);
		opacity: 0;
		transition: opacity .1s;
		cursor: zoom-in;
		background-image: url("img.jpg");
		background-repeat: no-repeat;
		


		&-active {
			opacity: 1;
			cursor: zoom-in;
		}
	}
}

.hover__lens {
	position: absolute;
	border: 1px solid grey;
	width: 40px;
	height: 40px;
	border-radius: 20px;
	background: transparent;
	z-index: 3;
	opacity: 0;
	transition: opacity .2s;

	&-active {
		opacity: 1;
	}
}