body, html {
	margin: 0;
	padding: 0;
	min-width: 100%;
	min-height: 100%;
	font-family: sans-serif;
	background-color: rgb(247, 215, 148);
}

.main {
	margin: 6rem auto 0;
	width: 38rem;
	font-size: 1.25rem;
}

.header {

}

@keyframes blink {
	50% { border-color: black; }
}

.word {
	border-right: solid .1rem rgb(247, 215, 148);
	animation-name: blink;
	animation-duration: .5s;
	animation-timing-function: step-end;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
