body, html {
	margin: 0;
	padding: 0;
	min-width: 100%;
	min-height: 100%;
	font-family: sans-serif;
	background-color: rgb(48, 51, 107);
}


.container {
	width: 30rem;
	height: 30rem;
	margin: 6.25rem auto 0rem;
}

.card {
	width: 30rem;
	height: 30rem;
	background-color: white;
	border-radius: .25rem;
}