body, html {
  min-width: 100%;
  min-height: 100%;
  font-family: sans-serif;
}

.container {
	margin: 1.25rem auto 0;
	display: flex;

}

.card {
	height: 12.5rem;
	width: 16.25rem;
	background-color: #f88379;
	color: rgb(103, 114, 229);
	margin: 6rem 2.5rem 0 0;
	border-radius: .25rem;
	flex-shrink: 0;
	position: sticky;
	top: 1.25rem;

	&:before {
		content: "";
		border-bottom: solid .05rem rgb(223, 223, 223);
		height: 100%;
		width: 100%;
		position: absolute;
		border-radius: .25rem;
		top: .08rem;
	}

	&__side {
		height: 89rem;
		width: 44rem;
		background-color: #71eeb8;
		border-radius: .25rem;
		flex-shrink: 0;
	}
}