html, body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	min-width: 100%;
	font-family: sans-serif;
	background-color: rgb(116, 185, 255);

}

.card {
	margin: 6.25rem auto 0;
	height: 5rem;
	width: 28rem;
	background-color: white;
	border-radius: .25rem;
	border: solid 1px rgb(222, 222, 222);
	box-sizing: border-box;
}

.options__desktop {
	height: 2.5rem;
	width: 18.75rem;
	display: flex;
	align-items: center;
	font-size: .75rem;
	box-sizing: border-box;
	margin: 1.25rem 1.25rem 0;
}

.button {
	height: 100%;
	width: 100%;
	border: solid 2px rgb(88, 149, 255);
	cursor: pointer;
	padding: 0;
	outline: none;


	&:hover:not(:focus){
		background-color: rgb(222, 234, 250);
	}

	&:focus {
		box-shadow: 0 0 0 2px rgba(116, 185, 255, .5);
	}

	&__price {
		border-right: solid 1px rgb(88, 149, 255);
		border-radius: .25rem 0 0 .25rem;
		width: 30%;
	}

	&__name {
		border-left: solid 1px rgb(88, 149, 255);
		border-right: solid 1px rgb(88, 149, 255);
		width: 30%;
	}

	&__relevance {
		border-left: solid 1px rgb(88, 149, 255);
		border-radius: 0 .25rem .25rem 0;
		width: 40%;
	}
}

.options__mobile {
	display: none;
}
@media only screen and (max-width: 500px) {
	.card {
	}

	.options__desktop {
		display: none;
	}

	.options__mobile {
		display: block;
	}

	#sorting__pulldown {
		width: 25.5rem;
		height: 2.5rem;
		margin: 1.25rem;
		border: solid 2px rgb(88, 149, 255);
		outline: none;

		&:focus {
			box-shadow: 0 0 0 2px rgba(116, 185, 255, .5);
		}
	}
}
