body, html {
	padding: 0;
	margin: 0;
 	min-width: 100%;
 	min-height: 100%;
 	font-family: sans-serif;
	background-color: rgb(75, 123, 236);
}


.card {
	height: 25rem;
	width: 25rem;
	background-color: white;
	margin: 6.25rem auto 0;
	border-radius: .25rem;
	position: relative;

	&__content {
		height: 100%;
		width: 100%;
		padding: 1.25rem;
		overflow: auto;
		box-sizing: border-box;
	}
}

.block {
	height: 6.25rem;
	width: 21.25rem;
	background-color: rgb(235, 235, 235);
	border-radius: .25rem;
	margin-bottom: .75rem;
}

.scroll {
	height: 23.5rem;
	width: .35rem;
	background-color: #f5e8f3;
	position: absolute;
	top: .75rem;
	right: .35rem;
	border-radius: .15rem;

	&-bar {
		height: 13rem;
		width: .35rem;
		background-color: #48aba9;
		border-radius: .15rem;
		position: absolute;
	}
}

::-webkit-scrollbar {
  display: none;
} 