body, html {
	padding: 0;
	margin: 0;
 	min-width: 100%;
 	min-height: 100%;
 	height: 100%;
 	font-family: sans-serif;
 	background-color: rgb(103, 114, 229);
}

// .container {
// 	height: 100%;
// 	width: 100%;
// 	background-color: rgb(103, 114, 229);
// 	position: relative;
// }

.color {
	// position: fixed;
	// top: 0;
	// left: 0;
	// bottom: 0;
	// right: 0;
	// background: #f88379;
	// background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
}

.card {
	height: 18.75rem;
	width: 18.75rem;
	border-radius: .25rem;
	overflow: hidden;
	z-index: 1;
	position: fixed;
	cursor: move;
	background-color: #f88379;

	&__init {
		top: 6rem;
		left: 6rem;

	}	
}